*{margin: 0; padding: 0;}
li{list-style: none;}

/* layout */
.wrap {width: 100%; max-width: 1400px; margin: auto;}
w100{background: gray; width: 100%;
height: 0;}

/* nav */
.depth1 {background: #6f6f6f; text-align: center; height: 20px; width: 100%; padding: 30px;}
.inner {width: 100%; display: flex;}
.depth2 {background: yellow; opacity: 0; margin-top: 30px; padding: 30px; width: 100%;
display: flex;}
.w100 {display: flex; position: relative;  width: 1400px; left: 0; margin: auto;}

.depth1:hover .depth2 {opacity: 1;}


