@charset 'utf-8';

/* === 모바일용 css === */
/* 기본 css */
#wrap {
    display: flex;
	flex-flow: column nowrap;
	width: 80%;
	margin: 0 auto;
	max-width: 1200px;
}
#wrap section {box-sizing: border-box;}
section h2:not(.title){text-indent: -9999999px; overflow: hidden; font-size: 0; line-height: 0; width: 0; height: 0;}

/* 인포메이션 영역 */
.info_section{
    order: 1;
    width: 100%;
    background: #2ecc71;
    border-bottom: solid #39d67c;
}
.info_list {
	display: flex;
}
.info_list li {
	width: 25%;
	text-align: center;
}
.info_list li a {
	display: block;
	padding: 15px 0; 
	padding: 0.938rem 0; /* 브라우저 호환성 풀백기법 */
}

/* 헤더영역 */
header{
    display: flex;
    order: 2;
    flex-direction: column;
    position: relative;
    width: 100%;
}
.logo {
    order: 1;
    padding: 1.875rem 0;
    font-size: 1.188rem;
    line-height: 1.313rem;
    text-align: center;
	background: #2ecc71;
	text-shadow: 0px 1px 1px #25ab5e;
}
.nav {
	order: 2;
	width: 100%;
}
.gnb li{display: flex; background: #2c3e50;}
.gnb li a{width: 80%; padding: 1.25rem 0; font-size: 0.938rem; text-indent: 1.25rem; font-size: bold; text-transform: uppercase;}

.sub_menu_toggle_btn{
    /* 접근성,seo */
    width: 20%;
    text-indent: -999999px;
    background: url(../images/s_images/sub_menu_toggle_btn.png) center center no-repeat;
    cursor: pointer;
}
.menu_toggle_btn{
    text-indent: -999999px;
    background: url(../images/s_images/menu_toggle_btn.png) center center no-repeat;
    cursor: pointer;
    width: 1.875rem;
    height: 1.875rem;
    position: absolute;
}
.slider_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    order: 3;
    width: 100%;
    height: 18.75rem;
    background: url(../images/p_images/slider_01.jpg) center center no-repeat;
}
.slider_section span{
    width: 1.125rem;
    height: 2.438rem;
    text-indent: -99999px;
    background: url(../images/s_images/slider_arrow.png) no-repeat;
    cursor: pointer;
    .slider_section span.next_btn {
        margin-left: -0.625rem;
        background-position: 0 0;
    }
    .slider_section span.prev {
        margin-left: -0.625rem;
        background-position: -34px 0;
    }
}
/* 최근글, 인기글 영역 */
.latest_post_section{order: 4; background: #ffc40f; text-shadow: 0px 1px 1px #b98e0b;}
.popular_post_section{order: 5; background: #a660c2; text-shadow: 0px 1px 1px #714185;}
.latest_post_section,.popular_post_section{padding: 2.5rem 12.5%;}
.title {
    margin-bottom:1.875rem ; font-size: 1.188rem;
    font-size: 1.188rem;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}
.latest_post_list li,.popular_post_list li{
    margin-top: 0.938rem;
    padding-left: 0.875rem;
    font-weight: bold;
    text-transform: uppercase;
    background: url(../images/s_images/post_circle_icon.png) left center no-repeat;
}
.latest_post_list li:first-child,
.popular_post_list li:first-child{margin-top: 0;}
/* 갤러리 영역 */
.gallery_section {
    order: 6;
    padding: 3.125rem 12.5%;
    text-align: center;
    background: #e65d5d;
    text-shadow: 0px 1px 1px #c43434;
.gallery_section img {width: 100%; max-width: 100%;
border-radius: 3px; box-shadow: 0px 1px 1px #c43434;}
.gallery_list li:nth-child(2){margin-top: 30px;}
.gallery_list li figcaption{
    margin-top: 1.25rem;
    font-size: 1.188rem;
    text-transform: uppercase;
    font-weight: bold;
}
/* 인기검색어 */
.rankup.section{
    order: 7;
    padding: 2.5rem 12.5%;
    background: #219af7;
    text-shadow: 0 1px 1px #1974ba;
}
.rankup.list {display: flex;
flex-wrap: wrap;
justify-content: space-between;}
.rankup.list li{
    width: 47.9666666666667%;
    margin-top: 0.938rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
.rankup.list li:first-child,
.rankup.list li:nth-child(2) {
    margin-top: 0;
}
.rankup.list li a{
    display: block;
    padding: 10px 0;
    border: 1px solid #fff;
    border-radius:5px ;
}
/* 배너 영역 */
.banner_section {
    order: 8;
}
.banner_box_01{background: #e65e7a;}

/* === 태블릿 css === */
@media all and (min-width: 768px) {
    #wrap{flex-flow: row wrap;}
    .header{flex-direction: row;}
    .logo {position: absolute; top: 0 ; left: 0; z-index: 10px; width: 15.625%; padding: 0;}
    .logo a{display: block; padding: 50px 0; padding: 3.125rem 0;}
    .nav{position: relative; min-height: 5rem; background: #2ecc71;}
    .gnb {position: absolute; top: 100%; right: 0; z-index: 20; width: 40.10416666666667%;}
    .menu_toggle_btn {top: 50%; right: 1.875rem; z-index: 20; margin-top: -0.938rem;}
    .slider_section{order: 2; width: 50%;}
}
/* 최근글,인기글 영역 */
.latest_post_list {order: 5;}
.popular_post_list{order: 6;}
.latest_post_section,.popular_post_section{width: 41.66666666666667%; padding-left: 5.208333333333333%;padding-right: 5.208333333333333%;}
/* 갤러리 */
.gallery_section {order: 8; width:71.35416666666667% ; padding-left: 5.208333333333333%; padding-right: 5.208333333333333%;}
.gallery_list{
    display: flex;
}
.gallery_list li{width: 47.00854700854701%;}
.gallery_list li:nth-child(2){width: 5.982905982905983%; margin-top: 0;}
/* === pc css === */
@media all and (min-width:960px) {
    #wrap{position: relative; width: 90%;}
    .info_section{order: 0; position: absolute;top: 1.875rem; right: 1.875rem; z-index: 30; width: auto; border-bottom: 0;}
    .info_list li{width: auto; margin-left: 0.625rem;}
    .ingo_list li a{padding: 0;}
    .header{border: 1; justify-content: flex-end; position: static;}
    .logo{width: 12.5%;}
    .nav{display: flex; align-items: center; position: static; width: 87.5%;}
    .gnb{display: flex !important; flex-direction: row; position: static; width: 100%; text-shadow: 0px 1px 1px #25ab5e; }
    .gnb li{display: block; margin-left:5.952380952380952; background: none;}
    .gnb li a{width: auto; padding: 0; text-indent: 0;}
    .gnb li span{
        display: none;
    .menu_toggle_btn{ }
    .slider_section{order: 2; width: 50%;}    
    }
    .latest_post_section,.popular_post_section{display: flex; flex-direction: column; align-items: center; width: 30%; padding-left:0 ; padding-right: 0;}
    /* 갤러리영역 */
    .gallery_section{
    order: 3;
    width:27.08333333333333%;
    }
    .gallery_list{
        display: block;
    }
    /.gallery_list li{
        width: auto;
    }
    .gallery_list li:nth-child(2){
        margin-top: 1.875rem;
        margin-left: 0;
    }
}