*{margin: 0; padding: 0; box-sizing: border-box;}

.wrap{
    width: 100%;
}
.container{max-width: 1296px; width: 100%; margin: auto; background: lightblue; 
height: inherit; opacity: 0.5; }
/* header */
header{ height: 72px; background-color: rgb(99, 99, 99);}
/* main */
main{height: 4619px; background-color: rgb(182, 145, 145);}
.main_tit{height:134px; background-color: beige; position: relative ; top: 94px;}

.cont_home{width: 1332px; height: 3412px; position: relative; right: 18px;}
.section_home{ width: 1332px; height: 1193px; display: flex; flex-wrap: wrap;}
.section_home .wrap_item{width: 630px; height: 1193px ; background-color: gray; padding: 0 18px; justify-content:end}
.wrap_culture{width: 1296px; height: 540px; background: lightcyan;}
.wrap_sns{height: 116px; background: lightcoral;}
.wrap_ite{width: 666px; height: 819px;}
/* footer */
footer{height: 499px; background-color: rgb(143, 141, 141);}

