*{margin: 0; padding: 0; box-sizing: border-box;}

.wrap{
    width: 100%;
}
.container{max-width: 1296px; width: 100%; margin: auto; background: lightblue; 
height: inherit; opacity: 0.5;}
header{ height: 72px; background-color: rgb(250, 197, 197);}
main{height: 4619px; background-color: rgb(182, 145, 145);}
footer{height: 499px; background-color: rgb(143, 141, 141);}
