.container{max-width: 1296px; width: 100%; margin: auto; background: lightblue; 
height: inherit; opacity: 0.5; }
/* header */
header{ height: 72px; background-color: rgb(177, 175, 175) ;}
nav {display: flex; }
nav ul li{width: 150px; height: 50px; background: white;  display: inline-block;  margin: 10px; text-align: center; z-index: 2; line-height: 50px; left: 100px; margin-left: 1px;}





/* main */
main{height: 4619px; background-color: rgb(255, 255, 255);}
.main_tit{}

.cont_home{}
.section_home{}
.section_home .wrap_item{}
.wrap_culture{}
.wrap_sns{}
.wrap_ite{}
/* footer */
footer{height: 499px; background-color: rgb(255, 255, 255);}

