#wrapper{
    display: grid;
  grid-template-columns: repeat(3,200px) ;  
  grid-template-rows: minmax(100px,auto); 
  /* 컬럼간격 */
  grid-column-gap: 30px;
  /* 로우간격 */
  grid-row-gap: 20px;
  /* 축약속성 */
  grid-gap: 20px 30px;
}